:root {
    --body-fonts: "Rubik", sans-serif;
    --base-color: #14532D;
    --tint-color: #e06f54;
    --cool-grey: #1F2937;
    --faded-grey: #b1b5b916;
    --dark-grey: #b1b5b939;
    --tint2-color: #BBF7D0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--cool-grey);
    font-family: var(--body-fonts);
    line-height: 1;
    font-size: 1.8rem;
}

.container {
    width: 120rem;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(#b1b5b92d, #1f2937af),
     url(images/stake.webp);
    background-size: cover;
    color: #fff;
    height: 100vh;
    position: relative;
    text-align: center;
}

.header-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* .header-box {
    width: 50%;
} */

nav, p, .btn {
    font-size: 2rem;
}

nav {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    margin-block-start: 2rem;
    padding-block-start: 2.5rem;
}

h1 {
    font-size: 5rem;
    margin-block-end: 3.2rem;
}

p {
    line-height: 1.6;
    margin-block-end: 4.8rem;
}

.btn:link,
.btn:visited {
    background-color: var(--tint-color);
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    padding: 1.6rem 3.2rem;
    border-radius: .9rem;
}

h2 {
    font-size: 4.4rem;
    margin-block-end: 4.8rem;
}

section {
    padding-block: 10rem;
}